/ {
    chassis: chassis {
		compatible = "ares,chassis";
		status = "okay";
		wheels = <&steerwheel1 2550  1781>,
				<&steerwheel2  0 (-3110)>,
				<&steerwheel3 (-2550) 1781>;
		angle-pid = <&chassis_roll_angle_pid>;
		max_linear_accel = "7.8";
		max_gyro = "20";
	};
	steerwheel {
		steerwheel1: steerwheel1 {
			#wheel-cells = <2>;
			compatible = "ares,steerwheel";
			status = "okay";
			steer-motor = <&motor_steer0>;
			wheel-motor = <&motor_wheel0>;
			wheel-radius = "0.555";
			angle-offset = "124";
		};

		steerwheel2: steerwheel2 {
			#wheel-cells = <2>;
			compatible = "ares,steerwheel";
			status = "okay";
			steer-motor = <&motor_steer1>;
			wheel-motor = <&motor_wheel1>;
			wheel-radius = "0.555";
			angle-offset = "215";
		};

		steerwheel3: steerwheel3 {
			#wheel-cells = <2>;
			compatible = "ares,steerwheel";
			status = "okay";
			steer-motor = <&motor_steer2>;
			wheel-motor = <&motor_wheel2>;
			wheel-radius = "0.555";
			angle-offset = "78";
		};
	};

	rm_motor {
		motor_wheel0: motor_wheel0{
			compatible = "dji,motor";
            is_m3508;
			id = <1>;
            rx_id = <0x201>;
            tx_id = <0x200>;
			gear_ratio = "15.7647";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&wheel_angle_pid &wheel_speed_pid>;
			capabilities = "angle", "speed";
		};

		motor_wheel1: motor_wheel1{
			compatible = "dji,motor";
            is_m3508;
			id = <2>;
            rx_id = <0x202>;
            tx_id = <0x200>;
			gear_ratio = "15.7647";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&wheel_angle_pid &wheel_speed_pid>;
			capabilities = "angle", "speed";
		};

		motor_wheel2: motor_wheel2{
			compatible = "dji,motor";
            is_m3508;
			id = <3>;
            rx_id = <0x203>;
            tx_id = <0x200>;
			gear_ratio = "15.7647";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&wheel_angle_pid &wheel_speed_pid>;
			capabilities = "angle", "speed";
		};

		motor_steer0: motor_steer0{
			compatible = "dji,motor";
			is_m2006;
			id = <4>;
			rx_id = <0x204>;
			tx_id = <0x200>;
			gear_ratio = "36.0";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&steer_angle_pid &steer_speed_pid>;
			capabilities = "angle", "speed";
			minor_arc;
		};

		motor_steer1: motor_steer1{
			compatible = "dji,motor";
			is_m2006;
			id = <5>;
			rx_id = <0x205>;
			tx_id = <0x1FF>;
			gear_ratio = "36.0";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&steer_angle_pid &steer_speed_pid>;
			capabilities = "angle", "speed";
			minor_arc;
		};

		motor_steer2: motor_steer2{
			compatible = "dji,motor";
			is_m2006;
			id = <6>;
			rx_id = <0x206>;
			tx_id = <0x1FF>;
			gear_ratio = "36.0";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&steer_angle_pid &steer_speed_pid>;
			capabilities = "angle", "speed";
			minor_arc;
		};

        motor7: motor7{
            compatible = "dji,motor";
            is_m3508;
            id = <7>;
            rx_id = <0x207>;
            tx_id = <0x1FF>;
            gear_ratio = "12.94";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&angle_pid_1 &speed_pid_1>;
            capabilities = "angle", "speed";
        };

        motor8: motor8{
            compatible = "dji,motor";
            is_m3508;
            id = <8>;
            rx_id = <0x208>;
            tx_id = <0x1FF>;
            gear_ratio = "12.94";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&angle_pid_1 &speed_pid_1>;
            capabilities = "angle", "speed";
        };
};
    mi_motor{
        motor1: motor1{
            compatible = "mi,motor";
            id = <1>;
            rx_id = <0x01>;
            tx_id = <0x01>;
            gear_ratio = "7.75";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&mit_pid_1 &angle_pid_2 &speed_pid_2>;
            capabilities = "mit", "pv", "vo";
        };
        
        motor2: motor2{
            compatible = "mi,motor";
            id = <2>;
            rx_id = <0x02>;
            tx_id = <0x02>;
            gear_ratio = "7.75";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&mit_pid_1 &angle_pid_2 &speed_pid_2>;
            capabilities = "mit", "pv", "vo";
        };

    };

   	pid {
		mit_pid_1: mit_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "95";
			k_i = "0.0";
			k_d = "47.0";
		};
		angle_pid_1: angle_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "5";
			k_d = "0.1";
		};
		speed_pid_1: speed_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.1";
			k_d = "0.001";
		};
		angle_pid_2: angle_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.7";
			k_d = "8";
		};
		speed_pid_2: speed_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.88";
			k_d = "0.2";
		};
        chassis_roll_angle_pid: chassis_roll_angle_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.2";
			k_d = "0.27";
		};
		steer_speed_pid: steer_speed_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "2.0";
			k_d = "10.5";
			detri_lpf = "0.95";
			out_max = "1.2";
		};

		steer_angle_pid: steer_angle_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "10.0";
			k_d = "12.0";
			detri_lpf = "0.9985";
		};
		wheel_speed_pid: wheel_speed_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.2";
			k_d = "0.2";
			detri_lpf = "0.85";
			out_max = "5.0";
		};

		wheel_angle_pid: wheel_angle_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "3.7";
			detri_lpf = "0.85";
		};
	};

    // emvalve {
    //     compatible = "gpio-keys";
    //     emvalve1: emvalve1 {
    //         gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
    //         label = "emvalve1";
    //     };
    //     emvalve2: emvalve2 {
    //         gpios = <&gpiob 13 GPIO_ACTIVE_LOW>;
    //         label = "emvalve2";
    //     };
    // };

    sbus0: sbus0 {
        compatible = "ares,sbus";
        status = "okay";
    };

    pwm_button {
		compatible = "gpio-keys";
		pwm_button1: button_1 {
			gpios = <&gpioe 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PWM Button";
			zephyr,code = <INPUT_KEY_1>;
		};
		pwm_button2: button_2 {
			gpios = <&gpioe 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PWM Button";
			zephyr,code = <INPUT_KEY_2>;
		};
		pwm_button3: button_3 {
			gpios = <&gpioe 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PWM Button";
			zephyr,code = <INPUT_KEY_3>;
		};
	};
};
&cdc_acm_uart0 {
	status = "disabled";
};