/ {
    rm_motor {
        motor0: motor0{
            compatible = "dji,motor";
            is_m3508;
            id = <1>;
            rx_id = <0x201>;
            tx_id = <0x200>;
            gear_ratio = "12.94";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&angle_pid_1 &speed_pid_1>;
            capabilities = "angle", "speed";
        };

        motor1: motor1{
            compatible = "dji,motor";
            is_m3508;
            id = <2>;
            rx_id = <0x202>;
            tx_id = <0x200>;
            gear_ratio = "12.94";
            status = "okay";
            can_channel = <&can2>;
            controllers = <&angle_pid_1 &speed_pid_1>;
            capabilities = "angle", "speed";
        };
        // motor6: motor6{
        //     compatible = "dji,motor";
        //     is_m2006;
        //     id = <3>;
        //     rx_id = <0x201>;
        //     tx_id = <0x200>;
        //     gear_ratio = "36";
        //     status = "okay";
        //     can_channel = <&can2>;
        //     controllers = <&angle_pid_6 &speed_pid_6>;
        //     capabilities = "angle", "speed";
        // };

        // motor7: motor7{
        //     compatible = "dji,motor";
        //     is_m2006;
        //     id = <4>;
        //     rx_id = <0x202>;
        //     tx_id = <0x200>;
        //     gear_ratio = "36";
        //     status = "okay";
        //     can_channel = <&can2>;
        //     controllers = <&angle_pid_6 &speed_pid_6>;
        //     capabilities = "angle", "speed";
        // };
    };
    
    mi_motor{
        motor2: motor2{
            compatible = "mi,motor";
            id = <1>;
            rx_id = <0x01>;
            tx_id = <0x01>;
            gear_ratio = "7.75";
            status = "okay";
            can_channel = <&can1>;
            controllers = <&mit_pid_1 &angle_pid_2 &speed_pid_2>;
            capabilities = "mit", "pv", "vo";
        };
        
        // motor3: motor3{
        //     compatible = "mi,motor";
        //     id = <2>;
        //     rx_id = <0x02>;
        //     tx_id = <0x02>;
        //     gear_ratio = "7.75";
        //     status = "okay";
        //     can_channel = <&can1>;
        //     controllers = <&mit_pid_1 &angle_pid_2 &speed_pid_2>;
        //     capabilities = "mit", "pv", "vo";
        // };

        motor4: motor4{
            compatible = "mi,motor";
            id = <3>;
            rx_id = <0x03>;
            tx_id = <0x03>;
            gear_ratio = "7.75";
            status = "okay";
            can_channel = <&can1>;
            controllers = <&mit_pid_2 &angle_pid_3 &speed_pid_3>;
            capabilities = "mit", "pv", "vo";
        };
        
        motor5: motor5{
            compatible = "mi,motor";
            id = <4>;
            rx_id = <0x04>;
            tx_id = <0x04>;
            gear_ratio = "7.75";
            status = "okay";
            can_channel = <&can1>;
            controllers = <&mit_pid_2 &angle_pid_3 &speed_pid_3>;
            capabilities = "mit", "pv", "vo";
        };
    };

   	pid {
		mit_pid_1: mit_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "55";
			k_i = "0.0";
			k_d = "25.0";
		};

        mit_pid_2: mit_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "25.0";
			k_i = "0.0";
			k_d = "3.0";
		};

		angle_pid_1: angle_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "5";
			k_d = "0.1";
		};
		speed_pid_1: speed_pid_1 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.1";
			k_d = "0.001";
		};
		angle_pid_2: angle_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.7";
			k_d = "8";
		};
		speed_pid_2: speed_pid_2 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "0.88";
			k_d = "0.2";
		};
        angle_pid_3: angle_pid_3 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "1.0";
			k_i = "0.0";
			k_d = "1.8";
		};
		speed_pid_3: speed_pid_3 {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "10";
			k_i = "0.0";
			k_d = "0.8";
		};//mit_pid_6: mit_pid_6 {
		// 	#controller-cells = <0>;
		// 	compatible = "pid,single";
		// 	k_p = "50";
		// 	k_i = "0.0";
		// 	k_d = "25.0";
		// };
		// angle_pid_6: angle_pid_6 {
		// 	#controller-cells = <0>;
		// 	compatible = "pid,single";
		// 	k_p = "5";
		// 	k_d = "0.1";
		// };
		// speed_pid_6: speed_pid_6 {
		// 	#controller-cells = <0>;
		// 	compatible = "pid,single";
		// 	k_p = "0.1";
		// 	k_d = "0.001";
		// };
	};

    leds {
        compatible = "gpio-leds";
        emvalve: emvalve {
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
            label = "emvalve";
        };
    };

    sbus0: sbus0 {
        compatible = "ares,sbus";
        status = "okay";
    };
};