/ {
	dm_motor {
		motor1: motor1 {
			compatible = "dji,motor";
			id = <1>;
			rx_id = <0x301>;
			tx_id = <0x3FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can1>;
			controllers = <&jump_speed_pid>;
			capabilities = "speed";
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "0.061538";
		};
		motor2: motor2 {
			compatible = "dji,motor";
			id = <2>;
			rx_id = <0x302>;
			tx_id = <0x3FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can1>;
			controllers = <>;
			capabilities = "";
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "0.061538";
			follow = <&motor1>;
		};
		motor3: motor3 {
			compatible = "dji,motor";
			id = <3>;
			rx_id = <0x303>;
			tx_id = <0x3FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can1>;
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "0.061538";
			controllers = <>;
			capabilities = "";
			follow = <&motor1>;
		};


		motor4: motor4 {
			compatible = "dji,motor";
			id = <5>;
			rx_id = <0x305>;
			tx_id = <0x4FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can2>;
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "-0.061538";
			controllers = <>;
			capabilities = "";
			follow = <&motor1>;
		};
		motor5: motor5 {
			compatible = "dji,motor";
			id = <6>;
			rx_id = <0x306>;
			tx_id = <0x4FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can2>;
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "-0.061538";
			controllers = <>;
			capabilities = "";
			follow = <&motor1>;
		};
		motor6: motor6 {
			compatible = "dji,motor";
			id = <7>;
			rx_id = <0x307>;
			tx_id = <0x4FE>;
			gear_ratio = "1.0";
			status = "okay";
			can_channel = <&can2>;
			is_dm_motor;
			dm_i_max = "100";
			dm_torque_ratio = "-0.061538";
			controllers = <>;
			capabilities = "";
			follow = <&motor1>;
		};
	};

	sbus0: sbus0 {
		compatible = "ares,sbus";
		status = "okay";
	};

	pid {
		jump_speed_pid: jump_speed_pid {
			#controller-cells = <0>;
			compatible = "pid,single";
			k_p = "1.0";
			k_d = "0.0";
		};
	};
};




&cdc_acm_uart0 {
	status = "disabled";
};